<header>
    <nav>
        <ul class="nav_ul" style="list-style-type: none;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pokemon">Poke-dex Region</a>
                <ul class="dropdown">
                    <li><a href="/pokemon/kanto">Kanto</a> </li>
                    <li><a href="/pokemon/johto">Johto</a> </li>
                    <li><a href="/pokemon/hoenn">Hoenn</a> </li>
                    <li><a href="/pokemon/sinnoh">Sinnoh</a> </li>
                    <li><a href="/pokemon/unova">Unova</a> </li>
                    <li><a href="/pokemon/kalos">Kalos</a> </li>
                </ul>
            </li>
            <li>
                <a href="/berries">Berries</a>
            </li>
            <li>
                <a href="/trainer">Trainer Page</a>
            </li>
            <li>
                <a href="/auth/register"> User Register</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/logout"> Logout</a>
            </li>
        </ul>
    </nav>

</header>