<header>
    <nav>
        <ul class="nav_ul" style="list-style-type: none;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pokemon">poke-dex</a>
            </li>
            <li>
                <a href="/trainer">Trainer Page</a>
            </li>
            <li>
                <a href="/auth/register"> User Register</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/logout"> Logout</a>
            </li>
        </ul>
    </nav>

</header>