<header>
    <nav>
        <ul class="nav_ul" style="list-style-type: none;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pokemon">poke-dex</a>
            </li>
            <li>
                <a href="/pokemon/index">poke-mon Show</a>
            </li>
            <li>
                <a href="/auth/register"> Trainer Register</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/register">Trainer Reg</a>
            </li>
        </ul>
    </nav>

</header>