<header>
    <nav>
        <ul style="list-style-type: none;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">poke-dex</a>
            </li>
        </ul>
    </nav>
</header>