<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/auth.css">
  <title>Trainer Card</title>
</head>

<body>
  <div class="trainer_card">
    <h1>show trainer</h1>
    <h4><strong>Username:</strong> <!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>First Name:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>Last Name:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>favPokemon:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>Go Team:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>E-mail:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4><strong>About Me:</strong><!-- EJS Tag trainer.'key' here-->
    </h4>
    <h4>8</h4>
  </div>

  <div class="pokemon_container">
    <!--- Here is where we would use a for loop to render pokemon W/Checkbox's-->
    <!--One loop for each regin-->
    <!--We would need a submit button every 10 or so lines that woudld trigger the push to trainers card-->
  </div>
</body>

</html>