<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Poke-Tracker</title>
</head>

<body style="background-color: #B0C4DE;">

    <h1>Hi im rendered</h1>
    <div class="dexneck"></div>
    <div class="dexneck-right"></div>
    <div class="dexneck-tip"></div>
    <div class="dexbody">

    </div>
    <div class="dextail"></div>

    <footer>
        &copy; 2020 Poke-craze Inc.
    </footer>
</body>

</html>