<%- include('partials/_head') %>

<h1>Welcome to the Poke-dex Clone Tracker Edition </h1>
<div class="dexneck"></div>
<div class="dexneck-right"></div>
<div class="dexneck-tip"></div>
<div class="dexbody">

</div>
<div class="dextail"></div>

<footer>
    &copy; 2020 Poke-craze Inc.
</footer>
</body>

</html>