*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") 
    format("woff2"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") 
    format("woff"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") 
    format("truetype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") 
    format("svg");
}
body{
    background-color: #B0c4de;
    font-family: 'Pokemon';
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-top: 10px;
}
h1{
    font-size: xx-large;
    font-weight: 900;
    color:  #00AAE9;
    margin-left: 20px;
}
.login_container{
    margin-left: 600px;
    margin-top: 210px;
}
.regContainer{
    margin-left: 15px;
}
.nav_ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex: left;
    justify-content: space-evenly;
    font-weight: 200;
}
a{
    text-decoration: none
}