*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") 
    format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") 
    format("woff2"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") 
    format("woff"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") 
    format("truetype"), 
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") 
    format("svg"); }

body{
    background-color: #B0c4de;
    font-family: 'Pokemon';
    letter-spacing: 4px;
    word-spacing: 4px;
}
.dexbody{
    width:1000px; 
    height:450px; 
    border:1px solid #000; 
    background: #D44338;
    border-radius: 20px;
    position: absolute;
    top: 200px; left: 150px;
}
.dextail{
    z-index: 1;
    width:0; 
    height:0; 
     border-top:100px solid #D44338;
    border-left:50px solid transparent;
    border-right:50px solid transparent; 
    position: absolute;
    top: 650px; left: 590px;
}
.dexneck {
    width:60px; 
    height:100px; 
    
    background:#D44338; 
    position: absolute;
    top: 100px; left: 600px;
}
.dexneck-right{
    width: 70px; 
     height:60px; 
     background:#D44338;
     left: 600px; top: 50px;
     position: absolute;
     border-radius: 5px 60px 0px 0px;
}
.dexneck-tip{
    width:0; 
     height:0; 
     border-right:40px solid #D44338;
     border-top:75px solid transparent;
     border-left:45px solid transparent;
     border-bottom:30px solid #D44338;
     left: 599px; top: 13px;
     position: absolute;
     border-radius: px 0px 5px 5px;
}
footer{
    position:absolute;
    top:90vh;
}
.nav_ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex: left;
    justify-content: space-evenly;
}
